# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://[ISI_PROJECT_ID].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=[ISI_SUPABASE_ANON_KEY]
SUPABASE_SERVICE_ROLE_KEY=[ISI_SERVICE_ROLE_KEY]

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
